# baseline re-generated with level 4 to keep some issues visible on higher levels
# at the time this file was updated there are 10 errors reported for levels 4 to 6
includes:
    #- phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - .
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - vendor/*
        - test/WebDriverTestCase.php
        - test/WebDriverTest.php
        - resources/epub-loader/src/WikiMatch.php
        - resources/epub-loader/vendor/*
        - resources/php-epub-meta/vendor/*
        - resources/php-epub-meta/lib/Dom/XmlNamespace.php
        - resources/php-epub-meta/lib/Other.php
        - resources/php-epub-meta/test/otherTest.php
