.git/
*.zip
test/
# keep the test database in the image here
!test/BaseWithSomeBooks/
test/BaseWithSomeBooks/.calnotes/backup/
test/BaseWithSomeBooks/.calnotes/retired/
test/BaseWithSomeBooks/.caltrash/
test/BaseWithSomeBooks/metadata_db_prefs_backup.json
vendor/
# remove docker files
docker/
docker-compose*.yaml
# remove development files
.vscode/
.yarn/
#!.yarn/releases
#!.yarn/plugins
.pnp.*
# remove unused directories
tools/
clover.xml
coverage/
*.cache
