{# filters.html is used for it.isFilterPage #}
{% extends 'mainlist.html' %}

{% block content %}
<div id="content" class="container-fluid">
    <div class="row">
        <form id="filterForm" method="POST">
        <!-- group entries by filter group -->
        {% for group in it.filterGroups %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-half-padding">
            {% block filtergroup %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{group.header.navlink}}">
                        {{group.header.title|escape}}
                    </a>
                </div>
                {% for entry in group.entries %}
                    <div class="panel-body">
                        {% if it.page == 'filter' and entry.class != 'Paging' %}
                            {% set params = entry.content|split('=') %}
                            {% if it.checked[params.0] and it.checked[params.0][params.1] %}
                                <input type="checkbox" id="check_{{params.0}}_{{params.1}}" name="{{params.0}}[{{params.1}}]" value="1" checked="checked" />
                            {% else %}
                                <input type="checkbox" id="check_{{params.0}}_{{params.1}}" name="{{params.0}}[{{params.1}}]" value="1" />
                            {% endif %}
                        {% endif %}
                        <a href="{{entry.navlink}}">
                            {{entry.title|escape}}
                            <span class="badge pull-right">{{entry.number}}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% endblock filtergroup %}
        </div>
        {% endfor %}
        {% if it.page == 'filter' %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-half-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{it.c.i18n.filtersTitle}}
                </div>
                <div class="panel-body">
                    <div class="input-group-btn">
                        <button id="filterSubmitButton" type="submit" class="btn btn-success" title="{{it.c.i18n.filtersTitle}}"><span class="glyphicon glyphicon-ok"></span></button>
                        <button id="filterClearButton" type="button" class="btn btn-danger pull-right" title="{{it.c.i18n.filterClearAll}}"><span class="glyphicon glyphicon-remove"></span></button>
                        <input type="hidden" name="page" value="filter" />
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        </form>
        {% if it.page == 'filter' %}
        <script type="text/javascript">
            const form = document.getElementById('filterForm');
            const btn = document.getElementById('filterClearButton');
            btn.addEventListener("click", function () {
                let boxes = form.getElementsByTagName('input');
                for (let box of boxes) {
                    if (box.type == 'checkbox') {
                        box.checked = false;
                    }
                }
                form.submit();
            });
        </script>
        {% endif %}
    </div>
</div>
{% endblock content %}
