.git/
*.zip
tests/
# keep the test database in the image here
!tests/BaseWithSomeBooks/
tests/BaseWithSomeBooks/.calnotes/backup/
tests/BaseWithSomeBooks/.calnotes/retired/
tests/BaseWithSomeBooks/.caltrash/
tests/BaseWithSomeBooks/metadata_db_prefs_backup.json
vendor/
# remove docker files
docker/
docker-compose*.yaml
# remove development files
.vscode/
.yarn/
#!.yarn/releases
#!.yarn/plugins
.pnp.*
# remove unused directories
tools/
clover.xml
coverage/
*.cache
