{# mainlist.html is extended by booklist.html and navlist.html #}
{% extends 'base.html' %}

{% block main %}
<div id="main" class="container-fluid">
{% block hierarchy %}
<div id="filter">
    {% if it.hierarchy  %}
    <ul>
        {% for entry in it.hierarchy.parents %}
            <li><a href="{{entry.navlink}}"><span class="glyphicon glyphicon-arrow-up"></span><strong>{{entry.title}}</strong></a></li>
        {% endfor %}
        {% if it.hierarchy.current  %}
            {% if it.hierarchy.children|length > 0 %}
                {% if it.hierarchy.hastree  %}
                    <li><a href="{{it.hierarchy.current.navlink}}"><span class="glyphicon glyphicon-minus"></span><span class="hidden-sm hidden-md"> {{it.hierarchy.current.title}}</span></a></li>
                {% else %}
                    <li><a href="{{it.hierarchy.current.navlink}}"><span class="glyphicon glyphicon-plus"></span><span class="hidden-sm hidden-md"> {{it.hierarchy.current.title}}</span></a></li>
                {% endif %}
            {% else %}
                <li><span class="hidden-sm hidden-md"> {{it.hierarchy.current.title}}</span></li>
            {% endif %}
        {% endif %}
        {% for entry in it.hierarchy.children %}
            {% if entry.number %}
                <li><a href="{{entry.navlink}}">{{entry.title}} ({{entry.number}})</a></li>
            {% else %}
                <li><a href="{{entry.navlink}}">{{entry.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if it.filters %}
    <ul>
        <!-- show links to filter -->
        <li>{{it.c.i18n.filtersTitle}}:</li>
        {% for filter in it.filters %}
        <li>
            <a href="{{filter.navlink}}">
                {{filter.class}} = {{filter.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock hierarchy %}

{% block content %}
<div id="content">
    This is the content block
</div>
{% endblock content %}

{% block pager %}
{% if it.isPaginated == 1 %}
    <ul id="pager" class="pager">
        {% if it.maxPage > 3 %}<li class="{% if it.firstLink == "" %}disabled{% endif %}"><a id="firstLink" href="{{it.firstLink}}"><span class="glyphicon glyphicon-step-backward"></span>{{it.c.i18n.firstAlt}}</a></li>{% endif %}
        <li class="{% if it.prevLink == "" %}disabled{% endif %}"><a id="prevLink" href="{{it.prevLink}}"><span class="glyphicon glyphicon-chevron-left"></span>{{it.c.i18n.previousAlt}}</a></li>
        <li> {{it.currentPage}} / {{it.maxPage}} </li>
        <li class="{% if it.nextLink == "" %}disabled{% endif %}"><a id="nextLink" href="{{it.nextLink}}">{{it.c.i18n.nextAlt}}<span class="glyphicon glyphicon-chevron-right"></span></a></li>
        {% if it.maxPage > 3 %}<li class="{% if it.lastLink == "" %}disabled{% endif %}"><a id="lastLink" href="{{it.lastLink}}">{{it.c.i18n.lastAlt}}<span class="glyphicon glyphicon-step-forward"></span></a></li>{% endif %}
    </ul>
{% endif %}
{% endblock pager %}
</div>
<div id="error"></div>
{% endblock main %}