{% extends 'index.html' %}

{% block content %}
<div class="title"><a href="./index.php?action={{action}}">{{actionTitle}}</a> for <a href="./index.php?action={{action}}&dbnum={{dbNum}}">{{dbConfig.name}}</a></div>
<form method="POST" action="./index.php?action={{action}}&dbnum={{dbNum}}">
<table width="100%">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Sort</th>
		<th>Action</th>
		<th>Link</th>
	</tr>
	{% for item in authors %}
	<tr>
		<td>{{item.id}}</td>
		<td>
			{{item.name}}
			<a href="./index.php?action=books&dbnum={{dbNum}}&authorId={{item.id}}" title="Books">B</a>
			<a href="./index.php?action=series&dbnum={{dbNum}}&authorId={{item.id}}" title="Series">S</a>
		</td>
		<td>{{item.sort}}</td>
		<td>{% if authorId == item.id %}<strong>Search</strong>{% else %}<a href="./index.php?action={{action}}&dbnum={{dbNum}}&authorId={{item.id}}">Search</a>{% endif %}</td>
		<td><input type="url" name="link[{{item.id}}]" value="{{item.link}}" size="32" /> {% if item.entityId %}<a href="./index.php?action=wikidata&dbnum={{dbNum}}&authorId={{authorId}}&matchId={{item.entityId}}">{{item.entityId}}</a>{% endif %}</td>
	</tr>
	{% endfor %}
</table>
</form>
{% if authorId %}
<div class="part">
	<p>Wikidata:</p>
	{% if matched %}
	<table width="100%">
		<tr>
			<th>Id</th>
			<th>Label</th>
			<th>Action</th>
			<th>Description</th>
			<th>Link</th>
		</tr>
		{% for match in matched %}
		<tr>
			<td><a href="./index.php?action=wikidata&dbnum={{dbNum}}&authorId={{authorId}}&matchId={{match.id}}">{{match.id}}</a></td>
			<td>{{match.label}}</td>
			<td><a href="./index.php?action={{action}}&dbnum={{dbNum}}&authorId={{authorId}}&matchId={{match.id}}">Match</a></td>
			<td>{{match.description}}</td>
			<td>{% if match.wiki_url %}<a rel="external" target="_blank" href="{{match.wiki_url}}">Wikipedia</a>{% endif %}</td>
		</tr>
		{% if match.entries %}
		<tr>
			<td colspan="5">
				<ul>
				{% for entry in match.entries %}
				<li><a href="./index.php?action=wikidata&dbnum={{dbNum}}&authorId={{authorId}}&matchId={{entry.id}}">{{entry.id}}</a> {{entry.label}} = {{entry.description}}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
		</table>
	{% else %}
		No match found
	{% endif %}
</div>
{% endif %}
{% endblock content %}
